/* ==========================================================================
index.php styling Morgan
========================================================================== */

html {
    height: 100%;
    background-image: repeating-radial-gradient(white, whitesmoke, lightgrey);  
}
.hero_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body_index {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: repeating-radial-gradient(white, whitesmoke, lightgrey);
}

.form_index {
    margin: auto;
    max-width:50%;
    margin-top: 5%;
    text-align: right;
}

.main_footer {
    background-color: #60495A;
    color: #f0f0f0;
    margin-bottom: -10%;
    bottom: 0;
    position: absolute;
}

.main_footer a{
    color: #f0f0f0;
}

.footer_content {
    padding: 10px;
    width: 100%;
}

a {
    color: #60495A;
}
footer {
    margin-top: 5%;
    width: 100%;
    text-align:center;
}

#member_register {
    color: black;
    padding:5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    width:190px;
    margin-left: auto; 
    margin-right: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.error_msg {
    color: red;
}


/* ==========================================================================
Media queries
========================================================================== */

@media only screen and (max-width: 920px ){

    .form_index {
        margin: auto;
        max-width:50%;
        margin-top: 5%;
        text-align: right;

    }
}
@media only screen and (max-width: 540px ) {

}
